# 환경변수 파일
*.env*
*/env/*

# Python package
*/venv/*

# 테라폼 파일
.terraform
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# 테라폼 환경 변수
*/terraform.tfvars

# 로그
terraform_logs/
*.log

# IDE
.vscode/
.idea/ terraform-spoke/environments/dev/env/.env.spoke
terraform-spoke/environments/dev/terraform.tfvars
.terraform/
*.exe

# Added by Claude Task Master
# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
.env
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
.DS_Store
# Task files
tasks.json
tasks/ 